.App {
  background-image: url("./MIS.jpeg");
  background-size: cover;
  min-height: 100%;
  min-width: 1024px;
  width: 100%;
  height: auto;
  position: fixed;
  top: 0;
  left: 0;
}

.body {
  display: flex;
  justify-content: center;
  align-items: center;
}







